body {
    font-family: sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }


  header p {
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center; 
  }
  
  header button {
    padding: 10px;
  }
  
  section {
    display: block;
    border: 1px solid black;
    min-height: 100px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .hide {
    display: none;
  }
  